/* GENERELT */
ul {
  padding: 0;
}
li {
  list-style: none;
}

@font-face {
  font-family: CameraObscura;
  src: url(fonts/CameraObscura.otf);
}

@font-face {
  font-family: IBMPlexSans-Regular;
  src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

.displaytext {
  text-align: center;
  font-family: CameraObscura;
  color: #da8052;
}

.indholdsfortegnelse {
  font-family: ;
}

p {
  font-family: IBMPlexSans-Regular;
}

.button {
  text-align: center;
}
