/* GENERELT */

body {
  background-color: #fdf9ef;
  overflow-wrap: break-word;
  margin-left: 1cm;
  margin-right: 1cm;
}

.index_body {
  background-color: #f36b2f;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
  /* color: #5930e2; */
}

a {
  list-style: none;
  text-decoration: none;
  color: #5930e2;
}

a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: CameraObscura;
  src: url(fonts/CameraObscura.otf);
}

.displaytext {
  text-align: center;
  font-family: CameraObscura;
  color: #fdf9ef;
}

@media (min-width: 800px) {
  h1 {
    text-transform: uppercase;
    color: #5930e2;
    text-align: center;
    font-size: 64px;
  }

  .displaytext {
    text-align: center;
    font-family: CameraObscura;
    color: #fdf9ef;
    font-size: 164px;
  }
}

h1,
h2 {
  font-family: "Fjalla One", sans-serif;
}

h1 {
  text-transform: uppercase;
  color: #5930e2;
  text-align: center;
  font-size: 64px;
}

h2 {
  margin-top: 7%;
}

.burger nav .menu {
  font-family: "Fjalla One", sans-serif;
  font-weight: lighter;
  text-transform: lowercase;
}

.txt_button {
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  font-weight: lighter;
  /* text-transform: lowercase; */
  color: #fdf9ef;
}

p,
h3,
.cantarell,
footer {
  font-family: "Cantarell", sans-serif;
}

footer {
  font-weight: bolder;
  color: #f36b2f;
}

.button {
  grid-template-columns: auto;
  background-color: #f36b2f;
  border-radius: 20px;
  padding: 21px;
  width: fit-content;
  box-shadow: 4px 8px 1px rgba(243, 107, 47, 0.3);
  margin: 9px;
}

.button_lang {
  grid-template-columns: auto;
  background-color: #f36b2f;
  border-radius: 20px;
  padding: 21px;
  width: fit-content;
  box-shadow: 4px 8px 1px rgba(243, 107, 47, 0.3);
  margin: 9px;
}

.button_spil {
  grid-template-columns: auto;
  background-color: #f36b2f;
  border-radius: 20px;
  padding: 21px;
  width: fit-content;
  box-shadow: 4px 8px 1px rgba(243, 107, 47, 0.3);
  margin: 9px;
}

.button_midten {
  justify-content: center;
  background-color: #f36b2f;
  border-radius: 20px;
  padding: 21px;
  box-shadow: 4px 8px 1px rgba(243, 107, 47, 0.3);
  margin: 9px;
  margin-top: 7%;
  width: fit-content;
}

@media (min-width: 800px) {
  .button_midten {
    height: 50px;
    margin-top: 30%;
  }
}

.button,
.button_lang,
.button_spil {
  margin: 40px 0;
}

.menu a {
  font-family: "Fjalla One", sans-serif;
}

li {
  text-decoration: none;
}

.indholdsfortegnelse {
  font-family: "Fjalla One", sans-serif;
  font-weight: lighter;
  margin: 10px 0;
  text-decoration: none;
}

.dot {
  display: none;
}

#nav_lys,
#nav_lys2 {
  color: #fdf9ef;
}
